
   <div class="row justify-content-center">
        <div class="col-lg-7" style="margin-top: 50px;">
            <div class="card">
                <img src="{{this.productImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title title">Название товара: {{this.productName}}</h5>
                    <p class="card-text">цена товара: {{this.productPrice}}</p>
                    <p class="card-text">количество: {{this.productStock}}</p>
                    <p class="card-text">sale: {{this.productSalePrice}}</p>
                </div>
            </div>
        </div>
    </div>


